@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/InterVariable.woff2") format("woff2");
  }

/* navbar.css */

.navbarAdmin {
    width: 20%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 35vh;
    font-size: 3vw;
    margin-top: 10%;
    font-weight: bold;
    margin-left: 1vw;
}

.menu {
    list-style-type: none;
    padding: 0;
    font-size: 2vw;
    font-family: inter;
}
.menu-item {
    height: 6vh;
    display: flex;
    transition: height 0.5s;
}
.menu-item:hover{
    background-color: aliceblue;
    height: 7vh;
    /*box-shadow: 0px 0px 0.5vh 0px rgba(0, 0, 0, 0.5);*/
}

.menu-item:hover .link {
    color: #3498db;
}
.link {
    width: 100%;
    color: black;
    text-decoration: none;
    transition: color 0.5s;
    margin-left: 1vw;
    display: flex;
    align-items: center;
}

/* Les card */
.posts {
    width: 80%;
}
.card-containerAdmin {
    margin-top: 3vh;
}
.cardAdmin {
    display: flex;
    flex-direction: column;
    background-color: rgb(122, 189, 243);
    width: 98%;
    margin-left: 1%;
    box-shadow: 0px 0px 0.1vh 0px rgba(0, 0, 0, 0.5);
}
.header-card {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin-top: 1.5vh;
}
.card-title {
    margin-top: 0;
    margin-left: 1vh;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: inter;
}
.card-value {
    margin-top: 0;
    margin-left: 1vh;
    font-size: 1.5vw;
    font-family: inter;
}
.card-title:first-of-type::after {
    content: " /"; /* Le slash ajouté après*/
}
.visible-card {
    display: flex;
    flex: row;
    align-items: center;
}
.details {
    background-color: #0C8CE9;
    margin-left: 0vh;
    height: 3vw;
    width: 15%;
    border-radius: 2vh;
    border: none; 
    color: white;
    font-size: 2vw;
    font-family: inter;
}
.modify {
    background-color: #FFC16B;
    margin-left: 1vh;
    height: 3vw;
    width: 5%;
    border-radius: 2vh;
    border: none; 
}
.img-modify {
    width: 100%;            
    height: 100%;            
    object-fit: contain;     
    display: block;   
}
.delete {
    height: 3vw;
    width: 5%;
    border: none;
    margin-top: 0.2vh;
    margin-left: auto;
    background: none;              
    border: none;  
}
.img-delete {
    width: 100%;            
    height: 100%; 
    object-fit: contain;     
    display: block;  
}

.card-details {
    width: 100%;
    background-color: #e0f7fa; /* Couleur de fond légère */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour donner du relief */
}
.btn-creat-ad {
    background-color: #00CB25;
    border: none;
    border-radius: 3vw;
    height: 5vw;
    width: 40%;
    color: white;
    font-size: 2.4vw;
    font-family: inter;
    margin-left: 2vh;
    margin-top: 15vh;
}
